certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.3.2
enum34==1.1.10
flask==1.1.2
flask-JWT==0.3.2
flask-JWT-Extended==3.25.1
idna==2.10
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pyasn1==0.4.8
pycparser==2.20
PyJWT==1.4.2
pyOpenSSL==20.0.1
requests==2.25.1
six==1.15.0
urllib3==1.26.3
Werkzeug==1.0.1
flask-restx==0.2.0
flask-restful==0.3.8
